# PostgreSQL Connection
PG_HOST=192.168.80.67
PG_PORT=5432
PG_USER=navneet
PG_PASSWORD=Navn@98765
PG_DATABASE=Grewdb
PG_SSL=false

# Supabase Configuration
SUPABASE_URL=https://zqbciwvyxgjoprsetbgw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpxYmNpd3Z5eGdqb3Byc2V0Ymd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA0MjkzMzUsImV4cCI6MjA4NjAwNTMzNX0.d3CjohQaSpf58DdRyI2zwMr2MuCEHXpN9diy5q6RztY

# Server Port
PORT=8000
